@model SiriusStyleRdStore.Entities.ViewModels.OrderCustomerViewModel

<div class="modal fade" id="myModalCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Crear cliente</h4>
            </div>
            <div class="requiredFields">
                @Html.Label("", "Campos con (*) son obligatorios.", new { @class = "text-danger" })
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.Customer.FullName) @Html.Label("", "*", new { @class = "text-danger" })
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-user"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextBoxFor(model => model.Customer.FullName, new { @class = "form-control", Id = "txtFullName", oninput = "removeErrorMessage('txtFullName','lblFullNameError')" })
                    </div>
                    <span id="lblFullNameError" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Guardar" class="btn btn-primary" id="btnCreateCustomer" onclick="return createCustomer();" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/createCustomerPartial.js"></script>